*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}


body{
	background: url('img/bg2.jpg') no-repeat ;
	background-size: cover;
	filter: contrast(120%);
}


#navbar{
	display: flex;
/*	background: red;*/
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
	height: 60px;
}

.logo img{
	width: 7rem;
}

#navbar ul{
	display: flex;
	list-style-type: none;
}

#navbar ul li{
	margin: 0px 7px;
/*	background: yellow;*/
	font-size: 18px;
/*	background: pink;*/
	padding: 0px;
}

#navbar ul li a{
	color: white;
	font-weight: bolder;
	text-decoration: none;
	padding: 6px 12px;
/*	background: yellow;*/
border-radius: 7px;
	font-family: Arial;

}

#navbar ul li a:hover{
	background: white;
	color: black;
}

