*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}


body{
	background: url('img/bg2.jpg') no-repeat ;
	background-size: 100%;
	filter: contrast(120%);
}


#navbar{
	display: flex;
/*	background: red;*/
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
	height: 60px;
}

.logo img{
	width: 7rem;
}

#navbar ul{
	display: flex;
	list-style-type: none;
}

#navbar ul li{
	margin: 0px 7px;
/*	background: yellow;*/
	font-size: 18px;
/*	background: pink;*/
	padding: 0px;
}

#navbar ul li a{
	color: white;
	font-weight: bolder;
	text-decoration: none;
	padding: 6px 12px;
/*	background: yellow;*/
border-radius: 7px;
	font-family: Arial;
	transition: all .6s ease-in-out;

}

#navbar ul li a:hover{
	background: white;
	color: black;
}


#main{
/*	background: red;*/
/*	height: 300px;*/
/*padding: 100px;*/
	margin: 200px 0px;	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
}

.maintext{
/*	margin-left:390px;*/
/*	background: yellow;*/
	padding: 20px;
	margin-right: 15rem;
}

.maintext h1{
	color: white;
	text-shadow: 2px 4px 6px black;

	font-size: 4.8rem;
}

.maintext a{
	margin: 20px;
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	color: white;
	background: red;
	font-size: 18px;
}