@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Roboto:wght@400;700&family=Ubuntu:wght@500&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto',sans-serif;
	box-sizing: border-box;
}
/*
body{
	background: url('img/bg2.jpg') no-repeat;
	background-size: cover;
	width: 100%;
	filter: contrast(150%);
	min-height: 100vh;
}*/

#navbar{

	background: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 40px;
	position: sticky;
	top: 0;
/*	background: red;*/


}

.logo img{
	width: 10rem;
}


#navbar ul{
	display: flex;
	list-style-type: none;
	align-items: center;
	font-size: 1.1rem;
	font-family: sans-serif;


}

#navbar ul li{
	margin: 0px 10px;
/*	background: yellow;*/
/*	padding: 5px 10px;*/

}

#navbar ul li a{
		border-radius: 6px;
	color: white;
	text-decoration: none;
/*	background: red;*/
	font-weight: bold;
	padding: 5px 10px;

}

#navbar ul li a:hover{
	background: red;

}

#checkbtn{
	display: none;
}

.flex{
	display: flex;
	align-items: center;
}

.head{
/*	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0,0.8);*/
		background-image: url('img/bg2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;

	min-height: 90vh;
	max-width: 100vw;
/*	background: red;*/
/*	padding: 20px;*/
justify-content: center;

/*position: relative;*/

}
.head-container{
	margin: 0px 0px 0px 400px;
	padding: 30px 10px;
	min-height: 400px;
/*	min-width: 300px;*/
/*	background: red;*/
	font-size: 2.8rem;
	color: white;
	text-shadow: 0 0 10px black;
	flex-direction: column;
/*	background: yellow;*/

}

.p-btn{
	margin-top: 30px;
	text-decoration: none;
	color: white;
	padding: 12px 24px;
	display: block;
/*	margin-left: 50px;*/
	margin-left: auto;
	background: red;
	border-radius: 6px;
	font-size: 1.3rem;
	font-weight: bold;
	transition: all .5s ease-out;
}


.p-btn:hover{
	background: white;
	color: black;
	text-shadow: none;
	border: 1px solid red;

}





/*card section*/

.head-cards{
	flex-direction: column;
	text-align: center;
	background: linear-gradient(120deg,black,maroon);
	padding-block: 50px;


}

.head-cards h1{
	font-size: 3rem;
	color: white;
	text-shadow: 0px 0px 10px black;
}

.card-container{
	justify-content: center;
	gap: 40px;

}

.card-item{
	padding: 30px 20px;
	margin-top: 50px;
	background: black;
	color: white;
	display: flex;
	gap: 20px;
/*	min-height: 450px;*/
	flex-direction: column;
	width: 28%;
	text-align: center;
	transition: all 0.3s ease-out;  
	border-radius: 6px;

}

.card-item:hover{
		box-shadow: 0px 0px 10px grey;
/*		transform: scale(1.1);*/
		cursor: pointer;


}

.card-item h3{
	font-size: 2rem;

}

.card-item p{
	line-height: 20px;
}

.card-item img{
	max-width: 50%;
	margin: 0 auto;
}

.card-item a{
	display: inline-block;
	margin-inline: auto;
	width: 60%;
	font-weight: bold;
	text-decoration: none;
	background: red;
	padding: 12px 24px;
	border-radius: 6px;
	color: white;
	transition: 0.3s ease-out;
}

.card-item a:hover{
	color: black;
	background: white;
}


/*appointment section*/

.appointment{
	background: url('img/banner.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: darken;
	padding: 40px 0px;
	justify-content: flex-start;
	min-height: 500px;
}

.appointment-container{
	text-align: left;
/*	background: yellow;*/
	padding: 20px;
}

.appointment-container h1{
	font-size: 3rem;
	color: white;
	text-shadow: 0px 0px 10px black;
	margin-bottom: 30px;

}


.appointment-container a{
	background: red;
/*border: 3px solid black;*/

	padding: 12px 24px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.3rem;
/*	border-radius: 6px;*/
	letter-spacing: 2px;
}



/*grid photos*/
.grid-photos{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	background: linear-gradient(180deg,black,grey);

/*	margin-block:10px;*/
	padding: 40px 10px;

}

.grid-photos h1{
	font-size: 2.7rem;
	color: white;
	text-shadow: 0px 0px 10px black;
}

.grid-photos-container{
	display: grid;
	grid-template-columns: repeat(3, minmax(200px, 380px));
/*	grid-template-rows: repeat(2, 300px);*/
	gap: 10px;
/*	row-gap: 10px;*/
	grid-auto-rows: 300px;
	background-repeat: no-repeat;
	background-size: cover;
}

.row-span{
	grid-row: span 2;
}

.col-span{
	grid-column: span 2;
}


.gphoto{
	color: white;
	padding: 10px 0px 10px 0px;
	transition: 0.4s ease-out;
	cursor: pointer;


}

.gphoto span{
	padding: 10px;
	background: black;
}


.gphoto:hover{
	filter: contrast(110%);
	box-shadow: 0px 0px 10px black;
}


footer{
	color: white;
	background: black;
	padding: 10px 10px;
	font-size: 1rem;
	text-align: center;

}











































































































@media screen and (max-width:700px){
	#checkbtn{
		display: block;
	}

	#navbar ul li {
/*		background: black;*/
		margin: 20px 0px;
/*		width: 50%;*/
/*		position: relative;*/
/*		top: 50px;*/
/*		background: red;*/
/*		display: block;*/
	}

	#navbar ul{
		text-align: center;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 55px;
		left: 0;
		background: black;
		width: 100%;
		padding: 10px 0px;
		text-align: center;
		display: none;
		transition: all 1s ease-in-out;
	}

	#check:checked ~ ul{
		display: block;
		
	}



}



